body{
  background-color: #e8e8d7;
}


 



 
.img-rating{
  width: 65%  !important;
  height: 65% !important; 
  border-end-end-radius: 25%;

}

.rate{

  color: #fdd300 !important;
}
.rating{
  display: flex ;
justify-content: space-around;
padding-top: 1rem;


}
.star{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ratings{
  margin: 24px;
  border-end-end-radius: 25% !important;
  box-shadow: 5px 8px 10px #9e9e53 !important;
  padding: 0.2rem;
}

.TestimonialsPage{
  padding-top: 35px;
  background-color:rgb(212,225,87,0.4) ;
  padding-bottom: 20px;
}
@media (max-width: 1800px) {
  .aboutText{
    height: 300px;

    background-color: #f2f5d1;
    border-top-right-radius: 100px;
    color: gray;
    box-shadow: 5px 8px 10px #9e9e53 !important;
  }
  .aboutText2{
    font-size: 18px !important;
    padding: 5% 10% 5% 10%; 
    font-weight: bold !important;
  
  }
  .aboutImg>img{
    height: 300px;
    border-top-left-radius: 100px;
    box-shadow: 5px 8px 10px #9e9e53 !important;
  } 
  .aboutShadow{
  padding: 0%;
}
}
@media (max-width: 1200px) {
 .aboutText{
    height: 300px;

    background-color: #f2f5d1;
    border-top-right-radius: 100px;
    color: gray;
    box-shadow: 5px 8px 10px #9e9e53 !important;
  }
  .aboutText2{
    font-size: 18px !important;
    padding: 5% 10% 5% 10%; 
    font-weight: bold !important;
  
  }
  .aboutImg>img{
    height: 300px;
    border-top-left-radius: 100px;
    box-shadow: 5px 8px 10px #9e9e53 !important;
  } 
  .aboutShadow{
  padding: 0%;
}
}



@media (max-width: 900px) {
  .aboutText{
    height: 220px;
    background-color: #f2f5d1;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 100px;
    padding-bottom: 10px;
    color: gray;
    margin-top: -5px;
    box-shadow: 5px 8px 10px #9e9e53 !important;
  }
  .aboutText2{
    font-size: 16px !important;
    padding: 5% 15% 5% 15% !important; 
    font-weight: bold !important;
  
  }
  .aboutImg>img{
    height: 240px;
    width: 100%;
    border-top-left-radius: 100px;
    box-shadow: 5px 8px 10px #9e9e53 !important;
  } 
  .about{
    padding: 0% 10% 0% 10%;
  }

}
@media (max-width: 600px) {
  .aboutText{
    margin-top: -6px;
    height: 230px;
    background-color: E0E5A4;
    border-bottom-right-radius: 100px;

    padding: 5% 0% 5% 0%;
    color: gray;
    box-shadow: 5px 8px 10px #9e9e53 !important; 
  }
  .aboutText2{
    font-size: 14px !important;
    padding: 5% 10% 5% 10%; 
    font-weight: bold !important;
  
  }
  .aboutImg>img{
    height: 240px;
    width: 100%;
    border-top-left-radius: 100px;
    box-shadow: 5px 8px 10px #9e9e53 !important; 
  }
}




